* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);

  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
}

body {
  background-color: var(--gray-50);
  font-size: 16px;
}
/* body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
} */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
} */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
button {
  cursor: pointer;
}

main {
  height: 100vh;
}

.logo {
}
.hero {
  background-color: var(--light-red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 0 4rem;
  padding: 10rem 2rem;
}

.hero h1 {
  font-size: 2rem;
  color: var(--white);
  padding-bottom: 1rem;
  text-align: center;
}
.hero p {
  color: var(--white);
  padding-bottom: 2rem;
}

button {
  height: 3rem;
  border: 0;
  border-radius: 1.5rem;
  padding: 0 1rem;
  font-weight: bold;
  transition: 200ms all;
  margin: 0 0.5rem;
}

.button-group {
  display: flex;
}

.primary-contained {
  background-color: var(--white);
  color: var(--light-red);
}

.primary-contained:hover {
  color: var(--white);
  background-color: var(--very-light-red);
}

.primary-outlined {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.primary-outlined:hover {
  background: var(--white);
  color: var(--light-red);
}

section {
  /* padding: 2rem; */
}

section h2 {
  margin: 1rem 0;
  color: var(--very-dark-black-blue);
  text-align: center;
}

section p {
  color: var(--very-dark-grayish-blue);
  text-align: center;
}

.illustration-image {
  width: 100%;
}

.card {
  padding: 0 2rem;
  margin: 2rem 0;
}
.card-dark {
  background: var(--very-dark-blue);
  margin: 5rem 0;
  padding: 2rem;
  color: var(--white);
  border-radius: 0 4rem 0 4rem;
}

.card-dark-image {
  margin-top: -5rem;
}

.card-dark-info h2,
.card-dark-info p {
  color: var(--white);
}

.card-dark-info p {
  padding-bottom: 2rem;
}

footer {
  background: var(--very-dark-black-blue);
  border-radius: 0 4rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

footer .logo {
  margin: 2rem 0;
}

footer .footer-section {
  margin: 1rem 0;
}

footer .footer-section-title {
  color: var(--white);
  margin: 1rem 0;
}

footer .footer-section-item {
  color: var(--grayish-blue);
  display: block;
}
